body {
    background-color: lightgray;
}


.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1{
    font-size: 40px;
}


.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    /*display: flex;
    flex-direction: row;*/
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    text-align: center;
}

.navbar a:hover{
    background-color: #000;
}

.navbar a.active {
    background-color:#4CAF50;
}

.imgsolution{
    float: right;
    flex: 30%
}

* {
    box-sizing: border-box;
}


.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
    
.btn {
    background-color: #555;
    color: white;
    padding: 12px;
    font-size: 17px;
    border: none;
    width: 100%;
    float:left;
    text-align: center;
    overflow: hidden;
}


.menu {
    position: relative;
    display: inline-block;
    width: 33.33%;
    overflow: hidden;
}

.menucontent {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 100%;
    float:left;
    overflow: hidden;
}

.menucontent a {
    color:white;
    padding: 12px;
    font-size: 17px;
    text-decoration: none;
    display: block;
    float:left;
    width: 33.33%;
    overflow: hidden;
}

.menu:hover .menucontent {
    display: block;
    overflow: hidden;
}

.menu:hover .btn:hover {
    background-color: black;
    overflow: hidden;
}
