body {
    background-color: lightgray;
}


.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1{
    font-size: 40px;
}


.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%;
    text-align: center;
}

.navbar a:hover{
    background-color: #000;
}

.navbar a.active {
    background-color:#4CAF50;
}

.imgsolution{
    float: right;
    flex: 30%
}

* {
    box-sizing: border-box;
}


.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.faq{
    text-align: left;
    padding: 14px;
}

.faqspørsmål{
    font-size: 20px;
}

.faqsvar{
    margin-left: 3%;
}

.studentforeningoversikt{
    float: right;
}
